* {
	margin: 0;
	padding: 0;
}

html, body {
	font-family: Quicksand;
	}

.jumbotron {
	font-size: 1.6em;
	background: url("https://scontent-frt3-1.xx.fbcdn.net/v/t31.0-8/11043331_1008775282486535_3213669276426635091_o.jpg?oh=83d6da5eee238ef709a9169fafc2c548&oe=5A841D8F") center center no-repeat;
	background-size: cover;
	height: 400px;
	display: flex;
	}

.jumbotron h1, .jumbotron h2 {
	background-color: black;
	padding: 3px 10px 5px 150px;
	letter-spacing: 5px;
	display: inline-block;
	font-weight: 400;
	color: white;
}

.jumbotron h2 {
	margin-top: 15px;
}

.title {
	margin-top: 90px;
}

.container {
	text-align: center;
	width: 70%;
	margin: 0 auto .5% auto;
	padding: .5%;
	}

.container img {
	height: 300px;
	width: 300px;
	margin: 0 .25%;
	overflow: wrap;
	border: 1px solid lightgrey;
	}

.container img:hover { 
	border: 1px solid grey;
}

#social {
	height: 150px;
	}

#social h3 {
	margin-top: 2%;
}

i {
	color: black;
	padding: 0 10px;
	display: inline-block;
}

.social-btns {
	margin: 3% auto;
	justify-content: center;
}

.fa-facebook-square:hover {
		border-bottom: 3px solid #3b5998;
		color: #3b5998;
		transition: .3s;
		}

.fa-instagram:hover {
	border-bottom: 3px solid #fd1d1d;
	color: orange;
	transition: .3s;
	background: -webkit-linear-gradient(#833ab4, #fd1d1d, #fcb045);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.address {
	margin: 0 auto;
	position: relative;
	width: 60%;
	padding: 25px;
}

footer {
	font-size: 0.8em;
	background: black;
	color: white;
}

@media only screen and (max-width : 768px) {
	h1, h2 {
		font-size: 0.8em;
	}
	.social-btns {
		margin: 3% auto;
	}
	.social p {
		font-size: 0.6em;
		text-align: center;
	}
}

@media only screen and (max-width : 479px) {
		.jumbotron h1, .jumbotron h2 {
		font-size: 0.6em;
		padding: 3px 10px 5px 70px;
		margin: 0 auto;
		text-align: center;
		width: 80%;
	}
	.jumbotron {
		height: 250px;
	}
}